<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var websocket=null;
    if('WebSocket' in window){
        websocket =new WebSocket('ws://localhost:8002/webSocket')
    }else{
        alert("改浏览器不支持")
    }
    websocket.onopen =function(event){
        console.log("建立连接");
    }
    websocket.onclose=function(event){
        console.log("关闭连接")
    }

    websocket.onmessage =function(event){
        console.log("收到消息："+event.data)
    }
    websocket.onerror=function( ){
          alert("通信发送错误")
    }
    window.onbeforeunload=function(){
        websocket.close();
    }

</script>
</body>
</html>