<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atjiumi.es.mapper.EchartsBrokenLineGraphTwoMapper">
    <resultMap id="res" type="com.atjiumi.es.entity.EchartsBrokenLineGraphTwo">
        <result column="name" property="name"/>
        <result column="value" property="value"/>

    </resultMap>
    <select id="selectBrokenLineTwo" resultMap="res">
               SELECT k.value,k.ie_date AS NAME FROM ( SELECT COUNT(*) AS VALUE,ie_date FROM ( SELECT  bill_no,DATE_FORMAT(ie_date,'%Y-%m') AS ie_date FROM
              bco_declaration_statistics WHERE DATE_FORMAT(ie_date,'%Y')=YEAR(NOW())
               GROUP BY bill_no,DATE_FORMAT(ie_date,'%Y-%m')) AS j
              GROUP BY j.ie_date) AS k ORDER BY k.ie_date ASC
    </select>

    <select id="selectLastMonth" resultMap="res">
          SELECT k.value,k.ie_date AS name FROM ( SELECT COUNT(*) AS VALUE ,ie_date FROM ( SELECT  bill_no,DATE_FORMAT(ie_date,'%Y-%m') AS ie_date FROM
              bco_declaration_statistics WHERE DATE_FORMAT(ie_date,'%Y')=YEAR(NOW())-1
               GROUP BY bill_no,DATE_FORMAT(ie_date,'%Y-%m')) AS j
              GROUP BY j.ie_date) AS k ORDER BY k.ie_date ASC
    </select>

    <insert id="insertEchartsBrokenLineTwo" parameterType="java.util.List">
        INSERT INTO echarts_broken_line_graph(name,value) VALUES
        <foreach collection="list" item="balance" separator="," close=";" >
            (#{balance.name},#{balance.value})
        </foreach>
    </insert>

    <delete id="deleteEchartsBrokenLineTwo">
        delete from echarts_broken_line_graph
    </delete>

    <select id="selectEchartsBrokenlineTwoTwentyTwenty" resultType="com.atjiumi.es.entity.EchartsBrokenLineGraphTwo">
              SELECT * FROM echarts_broken_line_graph WHERE LEFT(NAME,4)=2020
     </select>

    <select id="selectEchartsBrokenlineTwoTwentyNineteen" resultType="com.atjiumi.es.entity.EchartsBrokenLineGraphTwo">
              SELECT * FROM echarts_broken_line_graph WHERE LEFT(NAME,4)=2019
    </select>
</mapper>

